body{
    background: #8f8d8d;
}

.round{
    border-radius: 100px;
    border: 1px solid #ff6767;
    box-shadow: 0 0 7px #666;
    float:left;
    margin: 7px 7px 7px 0;
}
.round1 {
    border-radius: 100px;
    border: 1px solid #ff6767;
    box-shadow: 0 0 7px #666;
    float: right;
    margin: 7px 7px 7px 0;
}
.heading{
    text-align: center;
}


.text{
display: block;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

h2{
    text-align: center;
}
.centr{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 50px;
}




